{{ with $data := index .Site.Data .Site.Language.Lang }}
<address id="address">
    <h1>Riccardo Macoratti</h1>
    <table>
        <tr>
            <td class="addr-title">{{ i18n "dob" }}</td><td class="addr-data">{{ $data.info.dob | markdownify }}</td>
        </tr>
        <tr>
            <td class="addr-title">{{ i18n "address" }}</td><td class="addr-data">{{ $data.info.address }}</td>
        </tr>
        <tr>
            <td class="addr-title">{{ i18n "nationality" }}</td><td class="addr-data">{{ $data.info.nationality }}</td>
        </tr>
        <tr>
            <td class="addr-title">{{ i18n "phone" }}</td><td class="addr-data"><a href="tel:{{ $data.info.phone }}">{{ $data.info.phone }}</a></td>
        </tr>
        <tr>
            <td class="addr-title">{{ i18n "email" }}</td><td class="addr-data"><a href="mailto:{{ $data.info.email }}">{{ $data.info.email }}</a></td>
        </tr>
    </table>
</address>
{{ end }}
