{{ with $data := index .Site.Data .Site.Language.Lang }}
<section id="education">
    <h2>{{ i18n "education" }}</h2>
    {{ range $data.education }}
    <dt>
        <h3>{{ .from }} - {{ .to }}</h3>
    </dt>
    <dd>
        <h3>{{ .title }} <span>{{ .school }}</span></h3>
        {{ with .dissertation }}
            <p>{{ i18n "dissertation" }}: <q>{{ . }}</q></p>
        {{ end }}
        <p>{{ i18n "mark" }}: {{ .mark }}</p>
    </dd>
    {{ end }}
</section>
{{ end }}