{{ with $data := index .Site.Data .Site.Language.Lang }}
<section id="experience">
    <h2>{{ i18n "experience" }}</h2>
    {{ range $data.experience }}
    <dt>
        <h3>{{ .from }} - {{ .to }}</h3>
    </dt>
    <dd>
        <h3>{{ .role }} <span>{{ .company }}</span></h3>
        <p class="small">{{ .address }}</p>
        <div>
        {{ with .description }}
            <p><h4>{{ i18n "description" }}</h4>: {{ . | markdownify }}</p>
        {{ end }}
        </div>
        <div>
        {{ with .technologies }}
            <h4>{{ i18n "technologies" }}</h4><p>: {{ . | markdownify }}</p>
        {{ end }}
        </div>
    </dd>
    {{ end }}
</section>
{{ end }}