{{ with $data := index .Site.Data .Site.Language.Lang }}
<section id="hobbies">
    <h2>{{ i18n "hobbies" }}</h2>
    <ul>
    {{ range $data.hobbies }}
        <li>{{ . }}</li>
    {{ end }}
    </ul>
</section>
{{ end }}