{{ with $data := index .Site.Data .Site.Language.Lang }}
<section id="languages">
    <h2>{{ i18n "languages" }}</h2>
    {{ range $data.languages }}
    <dt>
        <h3>{{ .language }}</h3>
    </dt>
    <dd>
        {{ with .description }}
        <p>{{ . }}</p>
        {{ end }}
        {{ if .writing }}
        <table>
            <tr>
                <th>Listening</th>
                <th>Speaking</th>
                <th>Reading</th>
                <th>Writing</th>
            </tr>
            <tr>
                <td>{{ .listening }}</td>
                <td>{{ .speaking }}</td>
                <td>{{ .reading }}</td>
                <td>{{ .writing }}</td>
            </tr>
        </table>
        {{ end }}
    </dd>
    {{ end }}
</section>
{{ end }}