{{ with $data := index .Site.Data .Site.Language.Lang }}
<section id="skills">
    <h2>{{ i18n "skills" }}</h2>
    {{ range $data.skills }}
    <dt>
        <h3>{{ .category }}</h3>
    </dt>
    <dd>
        <ul>
            {{ range .list }}
            {{ $rate := .rate }}
            <li>
                {{ .skill | markdownify }}
                <span class="rate">
                {{ range $i, $_ := (seq 5) }}
                    <span class="dot {{ if lt $i $rate }}colored{{ end }}">●</span>                    
                {{ end }}
                </span>
            </li>
            {{ end }}
        </ul>
    </dd>
    {{ end }}
</section>
{{ end }}