/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../font/lato-v16-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Lato Regular'), local('Lato-Regular'),
        url('../font/lato-v16-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../font/lato-v16-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../font/lato-v16-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../font/lato-v16-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../font/lato-v16-latin-regular.svg#Lato') format('svg');
    /* Legacy iOS */
}

/* lato-italic - latin */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: url('../font/lato-v16-latin-italic.eot');
    /* IE9 Compat Modes */
    src: local('Lato Italic'), local('Lato-Italic'),
        url('../font/lato-v16-latin-italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../font/lato-v16-latin-italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../font/lato-v16-latin-italic.woff') format('woff'),
        /* Modern Browsers */
        url('../font/lato-v16-latin-italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../font/lato-v16-latin-italic.svg#Lato') format('svg');
    /* Legacy iOS */
}

/* lato-700 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../font/lato-v16-latin-700.eot');
    /* IE9 Compat Modes */
    src: local('Lato Bold'), local('Lato-Bold'),
        url('../font/lato-v16-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../font/lato-v16-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../font/lato-v16-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('../font/lato-v16-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../font/lato-v16-latin-700.svg#Lato') format('svg');
    /* Legacy iOS */
}

/* lato-700italic - latin */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    src: url('../font/lato-v16-latin-700italic.eot');
    /* IE9 Compat Modes */
    src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
        url('../font/lato-v16-latin-700italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../font/lato-v16-latin-700italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../font/lato-v16-latin-700italic.woff') format('woff'),
        /* Modern Browsers */
        url('../font/lato-v16-latin-700italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../font/lato-v16-latin-700italic.svg#Lato') format('svg');
    /* Legacy iOS */
}

/* pt-serif-regular - latin */
@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    src: url('../font/pt-serif-v11-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('PT Serif'), local('PTSerif-Regular'),
        url('../font/pt-serif-v11-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../font/pt-serif-v11-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../font/pt-serif-v11-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../font/pt-serif-v11-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../font/pt-serif-v11-latin-regular.svg#PTSerif') format('svg');
    /* Legacy iOS */
}

/* pt-serif-italic - latin */
@font-face {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: 400;
    src: url('../font/pt-serif-v11-latin-italic.eot');
    /* IE9 Compat Modes */
    src: local('PT Serif Italic'), local('PTSerif-Italic'),
        url('../font/pt-serif-v11-latin-italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../font/pt-serif-v11-latin-italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../font/pt-serif-v11-latin-italic.woff') format('woff'),
        /* Modern Browsers */
        url('../font/pt-serif-v11-latin-italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../font/pt-serif-v11-latin-italic.svg#PTSerif') format('svg');
    /* Legacy iOS */
}

/* pt-serif-700 - latin */
@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    src: url('../font/pt-serif-v11-latin-700.eot');
    /* IE9 Compat Modes */
    src: local('PT Serif Bold'), local('PTSerif-Bold'),
        url('../font/pt-serif-v11-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../font/pt-serif-v11-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../font/pt-serif-v11-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('../font/pt-serif-v11-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../font/pt-serif-v11-latin-700.svg#PTSerif') format('svg');
    /* Legacy iOS */
}

/* pt-serif-700italic - latin */
@font-face {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: 700;
    src: url('../font/pt-serif-v11-latin-700italic.eot');
    /* IE9 Compat Modes */
    src: local('PT Serif Bold Italic'), local('PTSerif-BoldItalic'),
        url('../font/pt-serif-v11-latin-700italic.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../font/pt-serif-v11-latin-700italic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../font/pt-serif-v11-latin-700italic.woff') format('woff'),
        /* Modern Browsers */
        url('../font/pt-serif-v11-latin-700italic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../font/pt-serif-v11-latin-700italic.svg#PTSerif') format('svg');
    /* Legacy iOS */
}

.small {
    font-size: .875em;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font: 16px 'Lato', sans-serif;
    line-height: 1.5em;
}

main {
    width: 800px;
    margin: 40px auto 60px;
}

address {
    font-style: normal;
}

section {
    clear: both;
    float: none;
    display: inline-block;
    margin-top: 30px;
}

h1 {
    margin: 0 0 16px 0;
    padding: 0 0 16px 0;
    font-size: 2.625em;
    font-weight: bold;
}

h2 {
    font-size: 1.375em;
    margin: 0 0 12px 0;
}

h3 span {
    margin-left: 10px;
    font-family: 'PT Serif', serif;
    font-style: italic;
    font-weight: normal;
    color: #777;
}

h4 {
    display: inline;
}

h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
    display: inline;
}

q {
    font-style: italic;
}

a {
    color: #999;
    text-decoration: none;
    border-bottom: 1px dotted #999;
}

a:hover {
    border-bottom-style: solid;
    color: black;
}

section dt:first-of-type,
section dd:first-of-type {
    margin-top: 8px;
}

section dt,
section dd {
    margin-top: 20px;
}

dt {
    width: 150px;
    float: left;
    text-align: right;
    padding-right: 20px;
}

dd {
    width: 600px;
    float: left;
    border-left: 1px solid black;
    padding-left: 20px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

li {
    padding-left: 5px;
}

#address h1 {
    border-bottom: 1px solid #999;
}

#address td.addr-title {
    vertical-align: top;
    font-weight: bold;
    padding: 0 40px 0 0;
}

#address td.addr-data {
    max-width: 300px;
}

#photo {
    float: right;
}

#photo img {
    max-width: 75%;
    position: relative;
    top: 0;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

#profile {
    margin-top: 10px;
}

#profile p {
    font-size: 1.125em;
    font-family: 'PT Serif', serif;
    font-style: italic;
    color: #777;
}

#languages table {
    margin-top: 10px;
}

#languages th,
#languages td {
    padding: 0 15px;
}

#languages th {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

#languages td {
    text-align: center;
    padding-top: 8px;
    font-weight: bold;
}

#skills ul {
    list-style-type: none;
    padding-left: 0;
}

#skills li {
    border-bottom: 1px dotted black;
}

#skills span.rate {
    float: right;
}

#hobbies ul {
    margin-left: 20px;
}

/* Rate widget */
span.rate {
    font-size: .875em;
}

span.rate .dot {
    color: #ccc;
}

span.rate .dot.colored {
    color: #222;
}

@media print {
    body {
        font: 14px 'Lato', sans-serif;
        line-height: 21px;
        display: block;
    }

    * {
        break-inside: avoid;
        page-break-inside: avoid;
        -webkit-region-break-inside: avoid;
    }

    h1 {
        line-height: 30px;
    }

    #photo img {
        max-width: 70%;
    }
}